*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
/node_modules
/vendor
/mysql_data
/redis-data
.env